.slider1 {
  position: relative;
  left: 10%;
  width: 80%;

  overflow: hidden;
}

.slides1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides1 img {
  width: 100%;
  border: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active-dot {
  background-color: #a1f256;
}
